body {
  font-family:'Times New Roman', Times, serif;
}

h1 {
  margin-top: 20px;
  font-weight: bold;
}

h2 {
  margin-top: 120px;
  margin-bottom: 40px;
}

h4 {
  font-weight: bold;
  margin-top: 10px;
}

ol {
  font-size: larger;
  display: inline-block;
  text-align: left;
}

table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

td, th {
  border: 2px solid #494949;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.red-mark {
  background-color: #e47878;
  border: 4px solid #363636;
}

.yellow-mark {
  background-color: #FFEDC0;
  border: 4px solid #363636;
}

.special:hover {
	color: #e47878;
}

/*---Bootstrap's Navbar override Section---*/
.navbar {
  background-color: #FCF7F3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
   
.navbar .navbar-brand {
  color: #616161;
  font: size 32px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
}
   
.navbar .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e47878;
}
   
.navbar .navbar-nav > li > a {
  color: #414141;
}
   
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {  
  color: #e47878;   
}
   
.navbar .navbar-nav > li > .dropdown-menu {   
  background-color: #FCF7F3;
  border-radius: 10px;
  border-width: 2px;
  border-color: #e47878;
}
   
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #363636;
}
   
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  background-color: #FFEDDC;
}

.navbar-toggler {
  background-color: #FFEDDC;
  border-color: #363636;
  color: #e47878;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,20,20, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#profile-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circular-image { 
  border-top-left-radius: 50% 50%; 
  border-top-right-radius: 50% 50%; 
  border-bottom-right-radius: 50% 50%; 
  border-bottom-left-radius: 50% 50%; 
}

/*---Home Section---*/
#home-section {
  background-color: #FCF7F3;
  height: 100vh;
  width: 100%;
  padding-top: 40px;
  text-align: center;
  overflow: auto;
}

#hello-message-box {
  background-color: #FFEDC0;
  height: 100px;
  width : 500px;
  padding-top: 20px;
  margin-bottom: 10px;
  border: 4px solid black;
  overflow: auto;
}

.article-box {
  background-color:#FFFFFF;
  text-align: left;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  height: 90%;
  width: 100%;
  overflow: auto;
}

/*---Footer Section---*/
#footer-section {
  position: relative;
  bottom: 0;
  width: 100%;;
  background-color: #FCF7F3;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Media Queries */
@media screen and (max-width: 998px) {
  h1 {
    font-weight:500;
  }
  #home-section {
    padding-left: 10px;
    padding-right: 10px;
  }
  #about-section {
    padding-left: 10px;
    padding-right: 10px;
  }
  #youtube-iframe {
    height: 397px;
    width: 430px;
  }
}

@media screen and (max-width: 480) {
 h4{
  font-weight: 400;
 }
}

#divLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 90%;
  margin-top: 10%;
  height: 5%;
  width: 5%;
  background-color: #FCF7F3;
  position: absolute;
  z-index: 1;
}